
.flex-container {
  display: flex;
  flex-direction: column;
}

.txtpricip{
	text-align:center;
	font-size:10px;
}

.menu{
	color: red;

}

.body{
	
	background-color: black; 
}

.foot{
	font-size: 3px;
}

.imagge{
	width: 50%;
	height: 30%;
	display:inline-flex;
}

.imagge2{
	display:inline-flex;
		width: 10%;
	height: 10%;
}